h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: $font-interface;
}

h1 {
  font-weight: bold;
  font-size: rem(24);
  line-height: 1.5/24*16;
}

h2 {
  font-weight: bold;
  font-size: rem(21);
  line-height: 1.5/20*16;
}

h3 {
  font-weight: bold;
  font-size: rem(18);
}

h4 {
  font-weight: bold;
  font-size: rem(16);
}

p {
  margin-top: 0;
  margin-bottom: $gutter;
  &:last-child { margin: 0; }
}

ol,
ul {
  list-style: none;
}

ol,
ul,
dl {
  margin: 0;
  padding: 0;
}

.content {
  padding: $gutter;
  ul, ol {
    margin-left: $gutter * 2;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: lower-latin;
  }

  ul ul {
    list-style-type: square;
  }

  .title {
    text-align: center;
    font-size: rem(26);
    margin-bottom: 2rem;
  }

  li {
    margin: $gutter 0;
  }

  h1, h2, h3, h4, p {
    margin: $gutter*2 0;
  }
}
