.wizard {
  display: none;
  &._active {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #f4f4f4;
    z-index: 2;
    padding-top: 3rem;
  }

  .wizard-child { display: none; }
  &._onchild {
    .wizard-parent { display: none; }
    .wizard-child { display: block; }
  }
}

.wizard-wrapper {
  width: 52rem;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 0 $gutter * 1;
}

$wizard-header-height: 3rem;
$wizard-link-height: 3rem;

.wizard-header {
  height: $wizard-header-height;
  position: relative;
  border-bottom: 1px solid $border-color;
}

.wizard-header-text {
  color: #999;
  line-height: $wizard-header-height;
  font-weight: normal;
  font-size: rem(18);
  padding: 0 $gutter * 2;
  text-align: center;
}

.wizard-header-icon {
  position: absolute;
  top: 0;
  right: 0;
  color: $text-secondary-color;
  line-height: $wizard-header-height;
  padding: 0 $gutter;
  font-size: rem(20);

  &:hover { cursor: pointer; }
  &:active, &:focus { outline: none; }
}

.wizard-content {
  padding-bottom: 3rem;
}

.wizard-option {
  display: block;
  width: 100%;
  position: relative;
  height: $wizard-link-height;
  line-height: $wizard-link-height;
  color: #666;
  background-color: #fff;
  border: 1px solid #ddd;
  text-align: left;
  padding: 0;
  margin: 0;

  border-bottom: none;
  &:last-child { border-bottom: 1px solid #ddd; }

  &._active {
    color: $primary-color;
    .wizard-icon { display: inline-block; }
  }

  &._hide {
    display: none;
  }

  @include screen-min(40rem) {
    &:hover {
      cursor: pointer;
      background-color: #f8f8f8;
      .wizard-icon { display: inline-block; }
    }
  }
}

.wizard-radio {
  @include clearfix;
  padding: 0 $gutter/2;
}

.wizard-radio-item {
  float: left;
  width: 50%;
  padding: 0 $gutter/2;
  @include screen-phone {
    width: 100%;
    padding: $gutter/2 0;
  }
}

.wizard-child-header {
  margin-bottom: $gutter;
  .wizard-option { background-color: #f3f3f3; }
  .wizard-icon { display: inline-block; }
}

.wizard-text {
  display: block;
  padding: 0 $gutter* 2;
  line-height: $wizard-link-height;
  margin-right: 2rem;
  @include truncate(100%)
}

.wizard-icon {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  line-height: $wizard-link-height;
  padding: 0 $gutter;
  font-size: rem(20);
}


.wizard-input {
  display: block;
  width: 100%;
  margin-top: $gutter/2;

  padding: $gutter;
  background-color: #fff;
  border: none;
  border-bottom: 2px solid #ddd;
  color: #444;
  &:focus {
    border-color: $primary-color;
  }
  &._subject {
    font-size: 18px;
    min-height: 3.25rem;
  }
  &._details {
    font-size: 16px;
    min-height: 16rem;
  }
}

.wizard-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: $gutter;
  text-align: center;
  // background-color: #f8f8f8;
  box-shadow: 0 -1xp 2px rgba(#000, .2);

  .button {
    width: 16rem;
    @include screen-phone { width: 30%; }
  }
}

.wizard-parent, .wizard-child {
  padding: $gutter 0;
}

.wizard-parent-content {
  padding: $gutter 0;
  height: calc(100vh - 11.5rem);
  overflow-y: auto;
}

.wizard-child-content {
  padding: $gutter 0;
  height: calc(100vh - 14.5rem);
  overflow-y: auto;
}

.wizard-child-content {
  display: none;
  &._active { display: block; }
}

.wizard-images {
  @include clearfix;
}

.wizard-image {
  float: left;
  width: 10rem;
  height: 10rem;
  margin: $gutter/2;
  position: relative;
  background-color: #fff;
  border: 1px solid $border-color;
  border-radius: 4px;

  img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 4px;
  }

}

.wizard-image-icon {
  display: inline-block;
  position: absolute;
  top: .5rem;
  right: .5rem;
  height: 1.75rem;
  width: 1.75rem;
  margin: 0;
  padding: 0;
  font-size: rem(20);
  text-align: center;
  // height: 1rem;
  color: #fff;
  background-color: #777;
  border-radius: 50%;
  z-index: 3;
}

.wizard-upload-image {
  padding: $gutter * 2;

  &:hover {
    cursor: pointer;
    background-color: #f8f8f8;
  }


  input {
    display: none;
  }
}
