$primary-color: #2653AF;
$link-color: #FFC13D;
// $primary-color: #E55D39;
$border-color: #e4e4e4;
$text-primary-color: #333;
$text-secondary-color: #999;
$text-price-color: #DD0D25;
$error-color: #e74c3c;
$success-color: #2ecc71;

$bgcolor: #fcfcfc;

$box-shadow: 0px 4px 20px #F3F3F3;
$box-shadow-dark: 0px 4px 20px rgba(#000, .4);
$border: #eee;

$font-content: Roboto, -apple-system, BlinkMacSystemFont, Oxygen-Sans,
                Ubuntu, Cantarell, "Helvetica Neue", "Segoe UI", sans-serif;

$font-interface: Roboto Condensed Regular, Roboto Condensed, $font-content;

$gutter: .75rem;
$gutter-narrow: .5rem;
$gutter-collapse: .375rem;

$radius: 3px;
